<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="~{message/fragments/header}">
    <meta charset="UTF-8">
    <title>ChapSsenger</title>
</head>

<body>
<nav class="navbar" th:replace="~{message/fragments/navbars :: navbarFragment}"></nav>
<nav class="sidebars" th:replace="~{message/fragments/sidebars :: sidebarsFragment}"></nav>



<div layout:fragment="content" class="content" style="weight:100%; height:100%;">
    <!-- 메인 콘텐츠가 들어갈 부분 -->
</div>

</body>
<!-- 모달과 스크립트 -->
<div th:replace="~{navbar :: uploadModalFragment}"></div>
<div th:replace="~{navbar :: notificationPanelFragment}"></div>
<div th:replace="~{navbar :: notificationPanelScript}"></div>
<div th:replace="~{navbar :: uploadModalScript}"></div>
<div th:replace="~{home :: homeVideoScript}"></div>
<div th:replace="~{explore :: exploreVideoScript}"></div>
<!-- 메신저 스크립트 -->
<div th:replace="~{message/fragments/messageScript :: messageScripts}"></div>
</html>