<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container-fluid" style = "max-width: 80%;">
    <!-- 컨텐츠 자리 -->
    <div class="row" style="height: 100%;">
        <div class="main-content" style = "margin-left: 30%; max-width: 70%;">


            <h2>Search Results</h2>
            <div th:if="${searchType == 'user'}">
                <h3>Users</h3>
                <ul>
                    <li th:each="user : ${results}" th:text="${user.userName}">User Name</li>
                </ul>
            </div>
            <div th:if="${searchType == 'hashtag'}">
                <h3>Videos with Hashtag</h3>
                <ul>
                    <li th:each="video : ${results}" th:text="${video.Title}">Video Title</li>
                </ul>
            </div>
            <div th:if="${searchType == 'general'}">
                <h3>Users</h3>
                <ul>
                    <li th:each="user : ${userResults}" th:text="${user.userName}">User Name</li>
                </ul>
                <h3>Videos</h3>
                <ul>
                    <li th:each="video : ${videoResults}" th:text="${video.Title}">Video Title</li>
                </ul>
                <h3>Videos with Hashtag</h3>
                <ul>
                    <li th:each="video : ${hashtagResults}" th:text="${video.Title}">Video Title</li>
                </ul>
            </div>
        </div>




    </div>
</div>


<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/sidebars.js}"></script>
</html>